* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #f8f8f8;
  height: 100vh;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  color: #0a101a;
}

.lista {
  padding: 1em;
}

.lista h1 {
  font-size: 1.8rem;
}

.tabela {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  border-bottom: 0.5px solid black;
}

.tabela__titulo {
  font-weight: bold;
  padding: 1em 0.5em;
  border: 0.5px solid black;
  font-size: 0.9rem;
}

.tabela__titulo--nome {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.tabela__titulo--autor {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.tabela__titulo--preco {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.tabela__item {
  padding: 1em 0.5em;
  border: 0.5px solid black;
  font-size: 0.8rem;
}

.tabela__item--nome {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.tabela__item--autor {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.tabela__item--preco {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.opcoes {
  position: relative;
  display: inline-block;
  padding: 0;
}

.opcoes__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 0.5em;
}

.opcoes__dropdown {
  display: none;
  position: absolute;
  background-color: #00aab3;
  z-index: 10;
  width: 100%;
}

.opcoes__dropdown a {
  display: block;
  padding: 1em;
  color: #fff;
}

.show {
  display: block;
}

@media (min-width: 768px) {
  .lista {
    padding: 5em;
  }
  .lista h1 {
    font-size: 2rem;
  }
  .tabela__titulo {
    font-size: 1.1rem;
  }
  .tabela__item {
    font-size: 1rem;
  }
}

@media (min-width: 1050px) {
  .lista {
    padding: 5em 10em;
  }
  .lista h1 {
    font-size: 2.2rem;
  }
  .tabela__titulo {
    padding: 2em 1em;
    font-size: 1.1rem;
  }
  .tabela__item {
    padding: 2em 1em;
    font-size: 1rem;
  }
  .opcoes {
    padding: 0;
  }
  .opcoes:hover {
    background-color: #e3e3e3;
  }
  .opcoes .opcoes__dropdown a:hover {
    background-color: #009199;
  }
}

nav {
  background-color: #00aab3;
  color: #fff;
  padding: 1em;
}

nav a {
  color: #fff;
  font-weight: bold;
  text-transform: lowercase;
}

nav a:hover {
  color: #eaf7ff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 0;
  margin-left: auto;
}

.menu__item {
  padding-left: 1em;
}

@media (min-width: 768px) {
  nav {
    padding: 1em 5em;
  }
}

@media (min-width: 1050px) {
  nav {
    padding: 1em 10em;
  }
  .menu__item {
    font-size: 1.1rem;
  }
}

.cadastro,
.editar {
  padding: 1em;
}

.cadastro h1,
.editar h1 {
  font-size: 1.8rem;
  text-align: center;
}

.cadastro__form,
.editar__form {
  display: -ms-grid;
  display: grid;
}

.cadastro__form label,
.editar__form label {
  margin-bottom: 0.2em;
  font-size: 1.2rem;
}

.cadastro__form input,
.editar__form input {
  margin-bottom: 1em;
  padding: 0.5em;
}

.cadastro__form button,
.editar__form button {
  background-color: #1c7382;
  color: #fff;
  font-weight: bold;
  padding: 1em;
  width: 80%;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .cadastro,
  .editar {
    padding: 1em 5em;
  }
  .cadastro h1,
  .editar h1 {
    text-align: center;
  }
  .cadastro__form,
  .editar__form {
    display: -ms-grid;
    display: grid;
  }
  .cadastro__form label,
  .editar__form label {
    margin-bottom: 0.2em;
    font-size: 1.2rem;
  }
  .cadastro__form input,
  .editar__form input {
    margin-bottom: 1em;
    padding: 0.5em;
  }
  .cadastro__form button,
  .editar__form button {
    background-color: #1c7382;
    color: #fff;
    font-weight: bold;
    padding: 1em;
    width: 80%;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 1em;
  }
  .cadastro__form button:hover,
  .editar__form button:hover {
    background-color: #124f59;
  }
}

@media (min-width: 1050px) {
  .main-cadastro {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 5em 10em;
  }
  .cadastro,
  .editar {
    padding: 0;
  }
  .cadastro {
    padding-right: 2.5em;
  }
  .editar {
    padding-left: 2.5em;
  }
  .cadastro__form,
  .editar__form {
    height: 100%;
  }
  .cadastro__form label,
  .editar__form label {
    font-size: 1.2rem;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .cadastro__form input,
  .editar__form input {
    margin-bottom: 1em;
    padding: 0.5em;
    max-height: 2em;
  }
  .cadastro__form button,
  .editar__form button {
    background-color: #1c7382;
    color: #fff;
    font-weight: bold;
    padding: 1em;
    width: 80%;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 1em;
    max-height: 4em;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .cadastro__form button:hover,
  .editar__form button:hover {
    background-color: #124f59;
  }
}

footer {
  background-color: #141515;
  color: #fff;
  padding: 0.5em 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #1fc3f4;
}
/*# sourceMappingURL=main.css.map */