$branco: #f8f8f8;
$background: #f8f8f8;
$nav: hsl(183, 100%, 35%);
$nav-hover: hsl(183, 100%, 30%);
$botao: hsl(189, 65%, 31%);
$botao-hover: hsl(189, 67%, 21%);
$titulo: hsl(215, 46%, 7%);

$poppins: "Poppins", sans-serif;
