@import "abstracts/_mixins.scss";
@import "abstracts/_variaveis.scss";

// Geral

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $poppins;
  overflow-x: hidden;
  background-color: $background;
  height: 100vh;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  color: $titulo;
}

// Componentes

@import "layout/_tabela.scss";
@import "layout/_header.scss";
@import "layout/_formulario.scss";

// Footer (não tem necessidade de criar um arquivo pois o código é pequeno)

footer {
  background-color: hsl(180, 3%, 8%);
  color: #fff;
  padding: 0.5em 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
  a {
    color: hsl(194, 91%, 54%);
  }
}
