.cadastro,
.editar {
  padding: 1em;
  h1 {
    font-size: 1.8rem;
    text-align: center;
  }
}

.cadastro__form,
.editar__form {
  display: grid;

  label {
    margin-bottom: 0.2em;
    font-size: 1.2rem;
  }

  input {
    margin-bottom: 1em;
    padding: 0.5em;
  }

  button {
    background-color: $botao;
    color: #fff;
    font-weight: bold;
    padding: 1em;
    width: 80%;
    justify-self: center;
    cursor: pointer;
  }
}

@include tablet() {
  .cadastro,
  .editar {
    padding: 1em 5em;
    h1 {
      text-align: center;
    }
  }

  .cadastro__form,
  .editar__form {
    display: grid;
    label {
      margin-bottom: 0.2em;
      font-size: 1.2rem;
    }

    input {
      margin-bottom: 1em;
      padding: 0.5em;
    }

    button {
      background-color: $botao;
      color: #fff;
      font-weight: bold;
      padding: 1em;
      width: 80%;
      justify-self: center;
      margin-top: 1em;

      &:hover {
        background-color: $botao-hover;
      }
    }
  }
}

@include desktop() {
  .main-cadastro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5em 10em;
  }

  .cadastro,
  .editar {
    padding: 0;
  }
  .cadastro {
    padding-right: 2.5em;
  }

  .editar {
    padding-left: 2.5em;
  }

  .cadastro__form,
  .editar__form {
    height: 100%;
    label {
      font-size: 1.2rem;
      align-self: end;
    }

    input {
      margin-bottom: 1em;
      padding: 0.5em;
      max-height: 2em;
    }

    button {
      background-color: $botao;
      color: #fff;
      font-weight: bold;
      padding: 1em;
      width: 80%;
      justify-self: center;
      margin-top: 1em;
      max-height: 4em;
      align-self: end;

      &:hover {
        background-color: $botao-hover;
      }
    }
  }
}
