nav {
  background-color: $nav;
  color: #fff;
  padding: 1em;

  a {
    color: #fff;
    font-weight: bold;
    text-transform: lowercase;
    &:hover {
      color: #eaf7ff;
    }
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
  margin-left: auto;

  &__item {
    padding-left: 1em;
  }
}

@include tablet() {
  nav {
    padding: 1em 5em;
  }
}

@include desktop() {
  nav {
    padding: 1em 10em;
  }

  .menu__item {
    font-size: 1.1rem;
  }
}
