.lista {
  padding: 1em;

  h1 {
    font-size: 1.8rem;
  }
}

.tabela {
  display: grid;
  grid-template-columns: auto auto auto auto;
  border-bottom: 0.5px solid black;

  &__titulo {
    font-weight: bold;
    padding: 1em 0.5em;
    border: 0.5px solid black;
    font-size: 0.9rem;
    &--nome {
      grid-column: 1/2;
    }
    &--autor {
      grid-column: 2/3;
    }
    &--preco {
      grid-column: 3/5;
    }
  }

  &__item {
    padding: 1em 0.5em;
    border: 0.5px solid black;
    font-size: 0.8rem;
    &--nome {
      grid-column: 1/2;
    }
    &--autor {
      grid-column: 2/3;
    }
    &--preco {
      grid-column: 3/4;
    }
  }
}

.opcoes {
  position: relative;
  display: inline-block;
  padding: 0;
  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 0.5em;
  }

  &__dropdown {
    display: none;
    position: absolute;
    background-color: $nav;
    z-index: 10;
    width: 100%;
    a {
      display: block;
      padding: 1em;
      color: #fff;
    }
  }
}

.show {
  display: block;
}

@include tablet() {
  .lista {
    padding: 5em;
    h1 {
      font-size: 2rem;
    }
  }

  .tabela {
    &__titulo {
      font-size: 1.1rem;
    }

    &__item {
      font-size: 1rem;
    }
  }
}

@include desktop() {
  .lista {
    padding: 5em 10em;
    h1 {
      font-size: 2.2rem;
    }
  }
  .tabela {
    &__titulo {
      padding: 2em 1em;
      font-size: 1.1rem;
    }

    &__item {
      padding: 2em 1em;
      font-size: 1rem;
    }
  }

  .opcoes {
    padding: 0;

    &:hover {
      background-color: #e3e3e3;
    }

    .opcoes__dropdown a:hover {
      background-color: $nav-hover;
    }
  }
}
